<footer class="footer text-center mt-auto">
    <div class="f-info">
        <div class="f-info-social">
            <a style="color: black;" href="https://www.instagram.com/anshulprajapati147"><i class="fa-brands fa-instagram"></i></a>
            <a style="color: black;" href="https://github.com/TechStackWizard"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="f-info-text text-bold">
            <b>
                &copy; HavenlyGo with &hearts; Anshul
            </b>
        </div>
        <div class="f-info-links">
            <b><a href="/privacy">Privacy</a> | 
            <a class="ml-4" href="/terms">Terms</a></b>
        </div>
    </div>
</footer>