<footer class="footer">
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-github"></i>
        </div>
        <div class="f-info-text text-bold">
            <b>

                &copy; HavenlyGo Privata Limited
            </b>
        </div>
        <div class="f-info-links">
            <b><a href="/privacy">Privacy</a> | 
            <a class="ml-4" href="/terms">Terms</a></b>
        </div>
    </div>
</footer>