<% layout('/layouts/boilerplate') %>

    <div  class="row">

        <h3 class="mb-3 col-8 offset-2">Login on HavelyGo</h3>

        <form style="height: 75vh;" method="post" action="/login" class="needs-validation" novalidate>
            <div class="mb-3 col-8 offset-2">
                <div class="mb-3">
                    <label for="username" class="form-label">Username </label>
                    <input type="text" name="username" placeholder="Enter username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password </label>
                    <input type="password" name="password" placeholder="Enter password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <p class="text-muted">Don't have an account? <a href="/signup" class="">Sign up</a></p>
                </div>
                <button class="btn btn-success">Login </button>

            </div>
        </form>
    </div>