<% layout('/layouts/boilerplate') %>


<div style="height: 75vh; display: flex; justify-content: center; align-items: center;">
    <div class="alert alert-danger" role="alert">
        <h2><%= status %></h2>
        <h6><%= message %></h6>
    </div>
</div>