<% layout('/layouts/boilerplate') %>

<div class="row my-4">
    <div class="alert alert-danger col-8 offset-2 " role="alert">
        <h2><%= status %></h2>
        <h6><%= message %></h6>
    </div>
</div>